<div class="application-template">
  <h1>Long-Term Budgeting</h1>
  <nav>
    <h2>Navigation</h2>
    <ul>
      <li>{{#link-to 'account-tracker'}}Account Tracker{{/link-to}}</li>
      <li>{{#link-to 'budget-category'}}Budget Categories{{/link-to}}</li>
    </ul>
  </nav>
  <main>
    {{outlet}}
  </main>
</div>